<!DOCTYPE html>
<html>
<head>
    <title>Cadastro | Voluntree</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .btn {
            padding: 10px 15px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Cadastro</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Registrar</button>
    </form>
    <p>Já tem uma conta? <button id="botao">Faça Login</button>

<script>
    document.getElementById("botao").addEventListener("click", function() {
        window.location.href = "{% url 'accounts:login' %}";
    });
</script>
</body>
</html>